

.example-card {
    max-width: 300px;
    margin: 10px;

    
  }

  .picsum-img-wrapper img{
    width: 100%;
    object-fit: cover;
    height: 400px;
    
    }
.viewDetailsContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
justify-content: center;
margin-top: 20px;
}
    .viewDetailsFoto{
   
    width: 400px;

    

    }
    .viewDetailsFoto img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .viewDetailsDescr{
      width: 400px;
      padding:  20px;
  
 
    }

    main{
      margin:50px;
    
    }


.productDetailPriceContainer{

  display: flex;
  border-bottom: 1px solid rgb(197, 65, 65); 

 
}
.productDetailPrice{
  color:rgb(197, 65, 65);
}
.productDetailOrderBtn{
  margin-left: 30px;
}
.productDetailDescription{
  margin-top: 10px;
}
.deliveryTermsCont{
  background-color: white;
  margin-top: 30px;
  width: 100%;
  border-radius: 5px;
}
.termsValue{
  padding: 5px 10px;
}

.updownQty{
  border: 1px solid white;
    border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 130px;

  
}
.up,.down{
cursor: pointer;
padding: 5px;
margin-top: 5px;
}
.descTit{
  margin-top: 5px;
}
.inputValue input{
margin-top: 7px;
width: 50px;
text-align: center;
border: 1px solid rgb(192, 185, 185);
border-radius: 5px
};
.orderPopUp{
  width: 100px;
  height: 100px;
  background-color: rgb(84, 173, 173);
}
.mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

 
 
}


.showOrderForm{
position: absolute;
margin-left: 43%;
z-index: 1;
margin-top: 50px;
text-align: center;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
@media (max-width: 1030px) {
  .showOrderForm{
     margin-left: 80px;
     
  }
 .applyTitle{
   font-size: small;
 }
}

.orderButton{
  width:100%
}
.showMain{
  opacity: 0.1;
}
.closeIcon{
  cursor: pointer;
}
.total{
  margin-top: 10px;
}
.termsValue{
  font-size: small;

}
@keyframes fadeInOut {
  0% {
      opacity: 0;
  }
  16% {
     opacity: 1;
  }
  84% {
     opacity: 1;
  }
  100% {
     opacity: 0;
  }
}
.messageSent{
  position: absolute;
  width: 200px;
  text-align: center;
  background-color:#79c446;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  -webkit-animation: fadeInOut 3s;
  animation: fadeInOut 3s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.messageSent p{
display: flex;
justify-content: center;
color: white;
padding: 20px;

}