
<div [class.showOrderForm]="popUpShowOpa"  [hidden]="isDisplayOrderPop">

    <form [hidden]="isDisplayedSentOrder" [formGroup]="orderForm" (ngSubmit)="onSubmitOrder(orderForm.value)" (ngSubmit)="onSubmitProductInfo()"   >
      <h5>apply your order form <mat-icon class="closeIcon" (click)="closeOrderPopUp()">close</mat-icon> </h5>
      <mat-form-field appearance="fill">
        <mat-label>ID number</mat-label>
        <input matInput formControlName="userId">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="userName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Lastname</mat-label>
        <input matInput formControlName="userLastname">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mob</mat-label>
        <input matInput formControlName="userMob">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="userEmail">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="userAddress" >
      </mat-form-field>
    
      <button [disabled]="orderForm.invalid"  class="orderButton" mat-raised-button color="primary">Order</button>
      
    </form>
    <div   class="messageSent" [hidden]="isDisplayedSent" >
      <p>thanks {{orderForm.value.userName}}, Your order has been accepted</p>
      </div>
  </div>

<main>
  

  <div [class.showMain]="popUpShow" class="viewDetailsContainer" >
    <div class="viewDetailsFoto">
      <img [src]="viewProductDetails.image">


    </div>
    <div class="viewDetailsDescr">
      <h6 class="productId">product ID:{{viewProductDetails.id}}</h6>
      <h4 class="productDetailTitle">
        {{viewProductDetails.title}}
      </h4>


      <div class="productDetailPriceContainer">

        <h3 class="productDetailPrice">{{viewProductDetails.price}} ₾</h3>

        <span class="productDetailOrderBtn"><button (click)="updateOrder()"  (click)='isDisplayOrderPopUp()' mat-raised-button
            color="primary">order</button></span>

      </div>

      <div class="productDetailDescription">

        <div class="qtyCont">
          <h6>Quantity</h6>
          <div class="updownQty">
            <div class="up">
              <mat-icon (click)="increaseQty()">add_circle</mat-icon>
            </div>
            <div class="inputValue"> <input [(ngModel)]="quantity" (change)=" inputHandleChange($event)" type="text"
                name="" id=""> </div>
            <div class="down">
              <mat-icon (click)="reductQty()">remove_circle</mat-icon>
            </div>
          </div>
        </div>
        <h5 class="total">Total:{{total}} ₾</h5>
        <h6 class="descTit">description:</h6>
        <p>{{viewProductDetails.description}}</p>
        <h6>technology:</h6>
        <p>{{viewProductDetails.technology}}</p>
      </div>

    </div>

  </div>


  <div class="deliveryTermsCont">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="delivery terms">

        <h6 class="termsValue"> ratione iusto inventore ?</h6>


        <p class="termsValue"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptatem maxime fuga,
          eveniet iste officiis recusandae consequatur, eaque esse dolor dolores odit doloribus laboriosam, aliquid
          reprehenderit. Tempore tenetur nihil earum!</p>
      </mat-tab>

      <mat-tab label="Second">Content 2</mat-tab>

    </mat-tab-group>


  </div>


</main>