<div class='footerContainer'>

    <div class="leftFooter">
<img src="assets/bayoLogo.png" alt="">


<h4 class="slogan">Georgian Craft Beer</h4>

    </div>
    <div class="centerFooter">
        <h4 class="contactUsTitle">Contact Us  </h4>
        <p class="footerContactUsUnderline"></p>
   
        <div class="centerBoxIcons"> 
        
       <div> <i class="fa fa-envelope">   </i>  <a  id="emailNav" href="mailto:l.dolidze11@gmail.com">  info@bayo.com</a>  </div>
       <div class="mobileFooter"><i class="fa fa-mobile"></i>599 00 00 00 </div> 
        
        </div>
     
    </div>
    <div class="rightFooter">
        <h4 class='followUsTitle'>follow us     </h4>
            <p class="footerContactUsUnderline"></p>
    

        <div id= "social">

            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
            <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
          
       
    
         </div>
    
    </div>

  
 
     <div class="allRights">

      <p> Lorem ipsueserunfacilis delectus nostrum quasi aperiam enim nemo @ 2021 </p> 
    </div> 
    
</div>
