
<main>

<h4 class="titleTechnology">technology</h4>

<div class="image1">
<img src="assets/descrImg.jpg" alt="">
</div>
<div class="textTechnology">
 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, adipisci? Porro, minus delectus eos impedit est exercitationem eaque iste ratione, accusamus mollitia quis quos natus quas incidunt unde sed fugiat.</p>
 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, adipisci? Porro, minus delectus eos impedit est exercitationem eaque iste ratione, accusamus mollitia quis quos natus quas incidunt unde sed fugiat.</p>
 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, adipisci? Porro, minus delectus eos impedit est exercitationem eaque iste ratione, accusamus mollitia quis quos natus quas incidunt unde sed fugiat.</p>
</div>

<h4 class="technicalDataTitle">Technical Data</h4>
<div class="technicalDataList">
<li>batch size 50 litres</li>
<li>2-vessel brewhouse with remote mash and wort heater</li>
<li>computer control system BREWMATIC 05</li>
<li>connected load: 9 kw (including heating)</li>
<li>Lorem ipsum dolor sit amet.</li>

</div>

<div class="image2">
<img src="assets/descrImg.jpg" alt="">
</div>

<h4 class="BreweryProcess">Brewery Process</h4>
<div class="ProcesessCont">
<div class="text">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum sint optio labore vitae minus laborum praesentium explicabo quia nisi commodi fugit corrupti impedit totam, blanditiis corporis maxime recusandae at dignissimos.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum sint optio labore vitae minus laborum praesentium explicabo quia nisi commodi fugit corrupti impedit totam, blanditiis corporis maxime recusandae at dignissimos.</p>
</div>
<div class="imageDiv">
    <img src="assets/descrImg.jpg" alt="">
</div>

</div>

<p class="BreweryProcessText1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto totam adipisci nemo fuga provident ratione tenetur, delectus placeat modi rem possimus optio. Officia, facilis eveniet maiores id recusandae illum sed.</p>
<div class="imageDiv1">
    <img src="assets/descrImg.jpg" alt="">
</div>
<div class="textTechnology">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, adipisci? Porro, minus delectus eos impedit est exercitationem eaque iste ratione, accusamus mollitia quis quos natus quas incidunt unde sed fugiat.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, adipisci? Porro, minus delectus eos impedit est exercitationem eaque iste ratione, accusamus mollitia quis quos natus quas incidunt unde sed fugiat.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, adipisci? Porro, minus delectus eos impedit est exercitationem eaque iste ratione, accusamus mollitia quis quos natus quas incidunt unde sed fugiat.</p>
   </div>

   <div class="imageDiv1">
    <img src="assets/descrImg.jpg" alt="">
</div>
<div class="textTechnology">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, adipisci? Porro, minus delectus eos impedit est exercitationem eaque iste ratione, accusamus mollitia quis quos natus quas incidunt unde sed fugiat.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, adipisci? Porro, minus delectus eos impedit est exercitationem eaque iste ratione, accusamus mollitia quis quos natus quas incidunt unde sed fugiat.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, adipisci? Porro, minus delectus eos impedit est exercitationem eaque iste ratione, accusamus mollitia quis quos natus quas incidunt unde sed fugiat.</p>
   </div>
   <h4 class="ProcessVideos">Process Videos</h4>
   <div class="videoTechCont">
       <div class="video1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YnGYlgiOk80" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
       <div class="video2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YnGYlgiOk80" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
   </div>
</main>