main{
    height: 2000px;
}
.aboutUsCont{
    height: 400px;
    width: 100%;
    display: flex;
justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.aboutUsText{
    width: 500px;
    background-color: rgb(63, 150, 150);
    height: 100%;
}

.aboutUsImg{
    width: 500px;
    background-color: aqua;
    height: 100%;
    flex-wrap: wrap;
    
}