<main>

    <div class="aboutUsCont" >
<div class="aboutUsText" >
<h4 class="title">Lorem ipsum dolor sit amet.</h4>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, cupiditate fugit! Officiis quod beatae corporis at earum! Expedita sunt labore quae fugiat earum minima error, in, voluptatem, aut repudiandae quibusdam!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis corrupti culpa quo molestiae necessitatibus, quis error, exercitationem voluptatibus quasi id animi placeat maxime veniam debitis. Odio velit minus unde distinctio?</p>
</div>


<div class="aboutUsImg">
    <img src="assets/yojGioImage.jpg" alt="">

</div>
    </div>
    <p class="aboutBrand">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam architecto assumenda maiores sapiente, tenetur voluptates fuga sint. Eligendi labore quia id cumque, optio, in magnam, incidunt itaque veritatis magni amet.
    </p>
<div class="generalInfoCont">
  
<div class="yearsFounded"><span class="innerSpan"><h4 class="innerTitle">2020</h4><p h5 class="innerText">Years Founded</p></span></div>
<div class="employees"><span class="innerSpan"><h4 class="innerTitle">5</h4><p h5 class="innerText">Employees</p></span></div>
<div class="endWorkTime"><span class="innerSpan"><h4 class="innerTitle">21:30</h4><p h5 class="innerText">when we go home</p></span></div>
<div class="emailPrevented"><span class="innerSpan"><h4 class="innerTitle">1000</h4><p h5 class="innerText">bottles per month</p></span></div>

</div>


</main>





        

    
