main{
    /* height: 800px; */
}
.formField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
margin: 0 auto;
    margin-top: 20px;
    margin-bottom:20px;
    
  }
  .mat-form-field{
      width: 100%;
  }
  .mat-raised-button{
      width: 100%;
  }

  @keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    16% {
       opacity: 1;
    }
    84% {
       opacity: 1;
    }
    100% {
       opacity: 0;
    }
}



  .messageSent{
      width: 200px;
      text-align: center;
      background-color:#79c446;
      margin: 0 auto;
      margin-top: 20px;
      border-radius: 5px;
      -webkit-animation: fadeInOut 2s;
      animation: fadeInOut 2s;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  }
  .messageSent p{
display: flex;
justify-content: center;
color: white;
padding: 20px;

  }
  @media (max-width: 1030px) {
    .formField{
        width: 150px;
        margin-bottom: 20px;
    }
   
    
      }