

<div class="navContainer">
   <div class="logoImg">
      <a href="" routerLink="home" > <img src="assets/bayoLogo.png" alt=""></a>
   </div>     
  
  
    <div class="navBar">
<a href="" routerLink="home" routerLinkActive="active"  >home</a>
<a href="" routerLink="aboutUs" routerLinkActive="active">about us</a>
<a href="" routerLink="manufacturing" routerLinkActive="active" >bayo brewery</a>
<a href="" routerLink="sale" routerLinkActive="active" >sale</a>
<a href="" routerLink="ourBeer" routerLinkActive="active" >our beer</a>
<a href="" routerLink="contact" routerLinkActive="active">contact</a>


<select name="" id="" (change)="changeLang($event.target.value)">
 
   <option value="en" [selected]="lang =='en'"> ENG</option>
   <option value="de" [selected]="lang =='de'">DEU</option>
   <option value="ka" [selected]="lang =='ka'">KA</option>
 </select>




</div>
</div>
