
<main>

<h3 class="shortDescrTitle">short description</h3>

 <div class="descriptionContaner">
<div class="desc1">
    <h3 class="descTitle">Lorem ipsum, dolor sit amet consectetur</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, eos omnis cumque magnam sint illum fugiat iste laudantium dolore neque iure et quidem eligendi expedita fuga asperiores, eaque necessitatibus accusamus!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse porro minus dignissimos, quia tem</p>

</div>


<div class="desc2">
 <img src="assets/descrImg.jpg" alt="">

</div>


 </div>



    <div id="carouselContainer">
        <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
            [showNavigationIndicators]="showNavigationIndicators">
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="picsum-img-wrapper">
                    <img [src]="image" alt="Random slide">
                </div>
                <div class="carousel-caption">
                    <h3>No mouse navigation</h3>
                    <p>This carousel hides navigation arrows and indicators.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    
    </div>


    <h3 class="ourProductTitle">our products</h3>
<div class="productContainer"  >

   
  <mat-card *ngFor="let allProductsPreview of productPreview; let i= index"  class="example-card" 
  @fade>

      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        
        <mat-card-title>{{allProductsPreview.title}}</mat-card-title>
        <mat-card-subtitle>{{allProductsPreview.price}}₾</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="allProductsPreview.image" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{allProductsPreview.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="detailPreview(i)" mat-button>Details</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

   


      
    </div>



 
    
    <!-- <div id="backToTopIcon" (click)="scrollToElement(target)">
      <img class="upToTopImage" src="assets/uptotopicon.png" alt="">
      <div #target></div>
     </div> -->
  


</main>



