main{
    /* height: 2000px; */
 }
 .shortDescrTitle,.ourProductTitle{
     text-align: center;
     margin-top: 20px;
     color: rgb(197, 65, 65);
 }
#carouselContainer{
    margin: 0 auto;
   width: 100%;
   margin-top: 20px;
}
.picsum-img-wrapper img{
width: 100%;
object-fit: cover;
height: 400px;

}


.descriptionContaner{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.desc1{


height: 300px;
width: 400px;
padding: 10px;
}
.desc2{

height: 300px;
width: 400px;

}
.desc2 img{
width: 100%;
object-fit: cover;
height: 100%;
}
.descTitle{
    color: rgb(197, 65, 65); 
}


.example-card {
    max-width: 300px;
    margin: 10px;

    
  }
  .ourProductTitle,.shortDescrTitle{
      padding: 20px;
  }
  .example-header-image {
    background-image:url('../../assets/bayoLogo.png');
    background-size: cover;
  }
  .productContainer{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
     margin: 20px 0px 20px 0px;
  }
  .example-card{
      transition: 0.5s;
  }
 #backToTopIcon{
     cursor: pointer;
    
 }
 .form-inline{
display: flex;
justify-content: flex-end;
 }
 .md-form {
     width: 300px;
    margin: 0 auto;
 }

 
@media (max-width: 1030px) {
.shortDescrTitle,.ourProductTitle,.carouselTile,.carouselDesc,.descTitle{
    font-size: large;
}
.CeoSpeech{
    font-size: small;
}
.picsum-img-wrapper img{
height: 240px;
}
.desc2{
   width: 240px;
   height: 180px;
}

  }